<h1 class="px-3 py-4">My Friends</h1>
<main class="col-md-9 col-lg-12 d-flex flex-column align-items-center">
  <div class="search-area col-8 col-md-6">
    <h3>Search Friends</h3>
    <%= form_tag search_friends_path, data: {turbo_frame: 'f-res'}, remote: true, method: :get do %>
      <div class="form-group row">
        <div class="col-10 p-0">
          <%= text_field_tag :friend, params[:stock], placeholder: "Name...", autofocus: true, class: "form-control form-control-lg" %>
        </div>
        <div class="col-2">
          <%= button_tag type: :submit, class: "btn btn-success" do %>
            <%= fa_icon 'search 2x' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= turbo_frame_tag 'f-res' do %>
  <% end %>
  <% unless @followed_friends.empty?%>
    <%= render 'friends/list' %>
  <% end %>
</main>